# 当我们给一个继承了父类的子类上使用@Data @ToString @EqualsAndHashCode 注解时，
# IDE 会警告 Generating equals/hashCode implementation but without a call to superclass
# 意思是该注解在实现 ToString EqualsAndHashCode 方法时，不会考虑父类的属性，通过反编译的源码也是可以看到他是没有对父类的字段进行比较的
# 全局配置 equalsAndHashCode 的 callSuper 属性为true
lombok.equalsAndHashCode.callSuper = call
lombok.tostring.callsuper = call